body {
  padding: 0;
  margin: 0; }

h2 {
  margin-top: 5px; }

.body-container {
  width: 80%;
  margin-left: 22%;
  margin-top: 20px; }

header, footer {
  height: 50px;
  padding: 7px;
  background-color: #222222;
  text-align: center;
  color: #34A5DA;
  font-family: DIN Condensed;
  font-weight: bold; }
  header a, footer a {
    color: #A6AAA9;
    font-family: DIN Alternate;
    font-weight: bold; }
    header a a:hover, footer a a:hover {
      color: #34A5DA; }

.footer-links {
  margin-top: 8px; }

aside {
  position: fixed; }
